<div class="soon-fixed-sidenav">
    <div class="soon-fixed-sidenav-logocontainer">
                <a href="/soon/alarm" class="soon-logo clickable" ng-click="OvSoonNavCtrl.defaultSoonView()">
                    <img class="soonLogo-img" src="data/img/soon-logo.png">
                </a>
    </div>
    <div class="soon-fixed-sidenav-content-container">
        <ul class="soon-fixed-sidenav-content" id="soon-navigation-item">
            <li>
                <div class="sidenav-content-itemcontainer">
                    <a href="/alarm" class="sidenav-content-item">alarm</a>
                </div>
            </li>
            <li>
                <div class="sidenav-content-itemcontainer">
                    <a href="/alarmPre" class="sidenav-content-item">alarm predict</a>
                </div>
            </li>
            <li>
                <div class="sidenav-content-itemcontainer">
                    <a href="/" class="sidenav-content-item">alarm</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="soon-sidenav-border-container">
    <div class="soon-sidenav-border" ng-click="collapseSidenav"></div>
</div>