<div id="ov-soon-traffic">
	<div class="trafficTop">
		<h2>
			traffic
		</h2>
		<div class="ctrl-btns">
            <div class="refresh" ng-class="{active: autoRefresh}"
                 icon icon-size="42" icon-id="refresh"
                 tooltip tt-msg="autoRefreshTip"
                 ng-click="toggleRefresh()"></div>

            <div class="separator"></div>

            <div icon icon-size="42" icon-id="show"
                 ng-click="trafficShow(true)"
                 tooltip tt-msg="activateTip"
                 ng-class="trafficShow">
            </div>
            <div icon icon-size="42" icon-id="stop"
                 ng-click="trafficShow(false)"
                 tooltip tt-msg="deactivateTip"
                 ng-class="trafficShowStop">
            </div>
            <div icon icon-size="42" icon-id="setting"
                 ng-click="trafficSettingShow()"
                 tooltip tt-msg="settingTip"
                 ng-class="trafficSetting">
            </div>			
		</div>
	</div>
	<div class="topo-view-box">
		<svg viewBox="0 0 1000 1000"
			 resize offset-height='56' offset-weight='12'
			 notifier="notifyResize()">
		</svg>
	</div>
</div>
