<div id="ov-soon-serviceReroute" filedrop on-file-drop="appDropped()">
    <div class="tabular-header">;
        <h2>
            serviceReroute
        </h2>
        <div class="ctrl-btns">
            <div class="refresh" ng-class="{active: autoRefresh}"
                 icon icon-size="42" icon-id="refresh"
                 tooltip tt-msg="autoRefreshTip"
                 ng-click="toggleRefresh()"></div>

            <div class="separator"></div>

            <div icon icon-size="42" icon-id="show"
                 ng-click="serviceRerouteShow(true)"
                 tooltip tt-msg="activateTip"
                 ng-class="serviceRerouteShow">
            </div>
            <div icon icon-size="42" icon-id="stop"
                 ng-click="serviceRerouteShow(false)"
                 tooltip tt-msg="deactivateTip"
                 ng-class="serviceRerouteShowStop">
            </div>
            <div icon icon-size="42" icon-id="setting"
                 ng-click="serviceRerouteSettingShow()"
                 tooltip tt-msg="settingTip"
                 ng-class="serviceRerouteSetting">
            </div>
        </div>

        <div class="search">
            <input type="text" ng-model="queryTxt" placeholder="Search"/>
            <select ng-model="queryBy">
                <option value="" disabled>Search By</option>
                <option value="$">All Fields</option>
                <option value="timeOccur">timeOccur</option>
                <option value="type">type</option>
                <option value="blockRate">blockRate</option>

            </select>
        </div>


    </div>

    <div class="summary-list" onos-table-resize>
        <div class="table-header" onos-sortable-header>
            <table>
                <tr>
                    <td colId="timeOccur" sortable col-width="340"> timeOccur </td>
                    <td colId="type" sortable col-width="320px"> serviceRerouteSource </td>
                    <td colId="service" sortable col-width="140px"> level </td>
                    <td colId="blockRate" sortable col-width="140px"> name </td>
                    <td colId="" sortable></td>
                </tr>
            </table>
        </div>

        <div class="table-body">
            <table onos-flash-changes id-prop="id">
                <tr ng-if="!tableData.length" class="no-data">
                    <td colspan="5">
                        {{annots.no_rows_msg}}
                    </td>
                </tr>

                <tr ng-repeat="serviceReroute in tableData | filter:queryFilter track by $index"
                    ng-click="selectCallback($event, serviceReroute)"
                    ng-class="{selected: serviceReroute.id === selId}"
                    ng-repeat-complete row-id="{{serviceReroute.id}}">
                    <td>{{serviceReroute.timeOccur}}</td>
                    <td>{{serviceReroute.type}}</td>
                    <td>{{serviceReroute.service}}</td>
                    <td>{{serviceReroute.blockRate}}</td>
                </tr>
            </table>
        </div>

    </div>

    <serviceReroute-setting-panel></serviceReroute-setting-panel>

</div>
